<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Chart </title>

    <!--  Bootstrap css file  -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <!--  custom css file  -->
    <link rel="stylesheet" href="./css/style.css">
    <!--  Responsive css file  -->
    <link rel="stylesheet" href="./css/responsive.css">
    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

</head>
<!-- Header -->
<body>
<header class="header_area">
    <div class="main-menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"><img src="./img/logo.png" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="mr-auto"></div>
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/all">All data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/charts">Chart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/prediction">Prediction</a>
                </ul>
            </div>
        </nav>
    </div>
</header>
<div class="row">
    <div class="col-lg-12 text-center ">
        <h1 class="text-uppercase title-text">Now</h1>
        <p class="para">
            Temperature <span th:text="${top10temp[9]}"> </span> C°
        </p>
        <p class="para">
            Huminity <span th:text="${top10humi[9]}"></span> %
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 text-center ">
        <h1 class="text-uppercase title-text">Charts</h1>
        <p class="para">
            We display the data with line graph and bar graph
        </p>
    </div>
</div>
<!--ascasfasfasffa-->
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-12 ">
            <!-- Line Chart -->
            <p class="para">
                Temperature
            </p>
            <canvas id="myChart1" style="margin-left: 50px; width:100%;max-width:400px"></canvas>

            <script>
                var xValues = [[${top10date}]];
                var yValues = [[${top10temp}]];
                //var yValues = [7,8,8,9,9,9,10,11,14,14,15];

                new Chart("myChart1", {
                    type: "line",
                    data: {
                        labels: xValues,
                        datasets: [{
                            fill: false,
                            lineTension: 0,
                            backgroundColor: "rgba(0,0,255,1.0)",
                            borderColor: "rgba(0,0,255,0.1)",
                            data: yValues
                        }]
                    },
                    options: {
                        legend: {display: false},

                        scales: {
                            xAxes: [{
                                display: true
                            }],
                            yAxes: [{ticks: {min: 0, max: 50}}],
                        }
                    }
                });
            </script>

        </div>
        <div class="col-lg-6 col-md-12">
            <!-- Bar Chart -->
            <p class="para">
                Huminity
            </p>
            <canvas id="myChart2" style="margin-right: 50px; width:100%;max-width:400px"></canvas>

            <script>
                var xValues2 = [[${top10date}]];
                var yValues2 = [[${top10humi}]];
                var barColors = "blue";

                new Chart("myChart2", {
                    type: "bar",
                    data: {
                        labels: xValues2,
                        datasets: [{
                            backgroundColor: barColors,
                            data: yValues2
                        }]
                    },
                    options: {
                        legend: {display: false},
                        scales: {
                            xAxes: [{
                                display: true
                            }],
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }],
                        }
                    }
                });
            </script>
        </div>
    </div>

    <!--  ======================= End Main Area ================================ -->

    <footer class="footer-area">
        <div class="container">
            <div class="">
                <div class="site-logo text-center py-4">
                    <a href="#"><img src="./img/logo.png" alt="logo"></a>
                </div>
                <div class="social text-center">
                    <h5 class="text-uppercase">Follow me</h5>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
                <div class="copyrights text-center">
                    <p class="para">
                        Copyright ©2022 All rights reserved | This template is made with by
                        <a href="#"><span style="color: var(--primary-color);">Home Page</span></a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>